<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Créer Connexion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="rectangle"></div>
<ion-infinite-scroll-content>
  <ion-card-content>
  <form>
    <ion-item>
      <ion-label position="floating" style="margin-left: 10px;  margin-bottom: -10px; color: white; font-size: 14px; font-family: Noto Sans;">Nom</ion-label>
      <ion-input type="text" #nom required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" style="margin-left: 10px;  margin-bottom: -10px; color: white; font-size: 14px; font-family: Noto Sans;">Prenom</ion-label>
      <ion-input type="text" #prenom required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" style="margin-left: 10px;  margin-bottom: -10px; color: white; font-size: 14px; font-family: Noto Sans;">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" style="margin-left: 10px; margin-bottom: -10px; color: white; font-size: 14px; font-family: Noto Sans;">Mot de passe</ion-label>
      <ion-input #password required></ion-input>
    </ion-item>
    <ion-text
    (click)="signUp(email, password, nom, prenom)"
     style="color: #1641A6; text-align: center; font-family: NSimSun; font-size: 14;">Créer Compte</ion-text>
</form>
</ion-card-content>
</ion-infinite-scroll-content>
</ion-content>





