ion-content{
    --background: url(../../assets/images/background.jpg) no-repeat center center / cover;
  }

ion-content > h1{
font-size: 38px;
margin: 0 auto;
 position: relative;
 top: 80%;
text-align: center;
 color: #1742A6;
 font-family: NSimSun;
  }

